<!DOCTYPE html>
<html>
<head>
  <title>Chat</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <h1>Welcome, <%= user.name %>!</h1>
  <!-- Add chat interface here -->
</body>
</html>
